/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --bg-color-white: hsla(0, 0%, 100%, 1);
    --bg-color-blue: hsla(242, 50%, 38%, 1);
    --title-color: hsla(320, 69%, 42%, 1);
    --txt-color: hsla(244, 38%, 28%, 1);  
}


.container {
    height: 100vh;
    text-align: center;
}

#astronaut {
    width: 36rem;
    flex-shrink: 0;
}

#cards {
    background-color: var(--bg-color-blue);
    display: grid;
    min-width: 45rem;
}

.card {
    background-color: var(--bg-color-white);
    padding: 2.6rem;
    margin: 5.3rem 4rem 5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;

    border-radius: 2rem;
}

.card img {
    width: 8rem;
    height: 8rem;
}

header h1 {
    color: var(--title-color);
    font-size: 3.2rem;
    font-weight: 900;

    margin-bottom: 0.5rem;
}

h2 {
    color: var(--title-color);
    font-size: 3rem;
}

.card h2 {
    padding: 0;
    margin: 3.3rem 0 1.5rem;
}

p {
    color: var(--txt-color);
    font-weight: 600;
}

header p {
    font-size: 2rem;  
    margin-bottom: 3.5rem;
}

.buttonDown {
    display: block;
    margin-bottom: 9.3rem;
}

main p {
    font-size: 1.6rem;
}

.contact {
    background-color: var(--bg-color-white);
    text-align: start;

    display: flex;
    flex-direction: column;
    width: 100%;
}

fieldset {
    border: 0;
}

.contact h2 {
    margin: 8rem 11rem 4rem 4rem;
}

.contact input, 
.contact textarea {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--txt-color);
    
    padding: 1.3rem 1.6rem 1.2rem 4.4rem;
    width: 35rem;
    margin: 0 4rem 2.4rem;
    gap: 1.2rem;
    border-radius: 1.6rem;
}

.contact textarea {
   height: 12.6rem; 
}

.inputWrapper input {
    border: 1.5px solid var(--txt-color);

}

#name {
    background: url(./assets/nameIcon.svg) no-repeat scroll 1.4rem 1.2rem;
}

#email {
    background: url(./assets/emailIcon.svg) no-repeat scroll 1.4rem 1.2rem;
}

#button {
    color: var(--bg-color-white);
    font-size: 1.4rem;

    background-color: var(--bg-color-blue);
    margin: 0 27rem 6.5rem 4rem;
    height: 4.5rem;
    padding: 1.6rem;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 0;
    border-radius: 1.6rem;
    
    cursor: pointer;
    transition: filter 200ms;
    max-width: 18rem;
}

#button:hover {
    filter: brightness(0.9);
}

footer {
    background-color: var(--bg-color-blue);
    min-width: 45rem;
    height: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: var(--bg-color-white);
    font-weight: 600;
    font-size: 2.0rem;

    padding: 1.6rem;
}

#stars {
    display: none;
}


@media (min-width: 1200px) {
    
    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    header h1, p {
        grid-area: 1 / 1 / 2 / 2;
    }

    header h1 {
        margin: 28rem 0 0 9rem;
        font-size: 6rem;
        white-space: nowrap;
    }

    header p {
        margin: 36rem 0 0 2rem;
        font-size: 3.2rem;
    }
    
    #astronaut {
        grid-area: 1 / 2 / 3 / 3;
        margin-right: 15rem;
        height: 72rem;
        width: auto;
    }

    .buttonDown {
        margin: 10rem 50rem 0 10rem;
    }

    
    #cards {
        display: flex;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .contact h2 {
        font-size: 4.2rem;
    }
    
    .contact input, 
    .contact textarea {
        width: 60rem;
    }
    
    #stars {
        display: inline-block;
        width: 60rem;
        height: auto;
        position: absolute;
        right: 0;
    }
}